<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.dbcommon.mybatis.persistence.CourseSaleMapper" >
	<!-- 获取用户购买的课程 -->
	<select id="findUserCourse" resultType="hashmap" parameterType="hashmap" >
		select t_course.course_id,t_course.course_url,t_course.course_type,t_course.course_title,t_course.lecturer_name,t_course.lecturer_title,t_course.course_duration, t_course_sale.position
		from t_course LEFT JOIN t_course_sale ON t_course.course_id=t_course_sale.course_id where t_course_sale.user_id = #{user_id}
		<if test="position != null and position > 0">
			and t_course_sale.position <![CDATA[ < ]]> #{position} 
		</if>
		order by t_course_sale.position desc limit #{page_count}
	</select>
  
	<!-- 新增课程销售记录 -->
	<insert id="inserCourseSale" parameterType="hashmap">
		INSERT INTO `t_course_sale` (`record_id`, `shop_customer_id`, `user_id`, `nick_name`, 
			`shop_id`, `course_id`, `course_title`, `course_url`, `course_type`, `lecturer_id`, 
			`lecturer_name`, `create_time`, `sale_money`, `distributer_income`, `distributer_name`, 
			`lecturer_income`, `plat_income`, `tutor_income`) 
		VALUES (#{record_id}, #{shop_customer_id}, #{user_id}, #{nick_name}, 
			#{shop_id}, #{course_id}, #{course_title}, #{course_url}, #{course_type}, #{lecturer_id}, 
			#{lecturer_name}, #{create_time}, #{sale_money}, #{distributer_distribute_income}, #{distributer_name},
			#{lecturer_distribute_income}, #{platform_distribute_income}, #{tutor_distribute_income});
	</insert>
  
  <!-- 以下作废 -->
  <!-- <select id="findCourseByCourseId" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_courses where course_id = #{courseId}
  </select>
  <select id="findFinishCourseListForLecturer" resultType="hashmap" parameterType="hashmap" >
  	select * from t_courses where status='2'
  	<if test="lecturer_id != null" >
  		and lecturer_id = #{lecturer_id}
  	</if>
  	<if test="position != null"> 
  		and ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) <![CDATA[ < ]]> #{position}
  	</if> 
  	 order by ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) desc limit #{pageCount}
  </select>
  
  <select id="findCourseListForLecturer" resultType="hashmap" parameterType="hashmap" >
    select * from t_courses  where 1 =1
    <if test="orderType == 1" >     
       <if test="startIndex != null" >
      	<if test="status == 2" >
        	and end_time > #{startIndex}
        </if>
        <if test="status != 2" >
        	and start_time > #{startIndex}
        </if>
      </if>
    </if>
    <if test="orderType == 2" >
      <if test="startIndex != null" >
      	<if test="status == 2" >
        	and end_time <![CDATA[ < ]]> #{startIndex}
        </if>
        <if test="status != 2" >
        	and start_time <![CDATA[ < ]]> #{startIndex}
        </if>
      </if>
    </if>
    <if test="lecturer_id != null" >
      and lecturer_id = #{lecturer_id}
    </if>
    and `status` = #{status}
    order by start_time
    <if test="orderType == 1" >
      asc
    </if>
    <if test="orderType == 2" >
      desc
    </if>
    limit #{pageCount}
  </select>
  
  <select id="findLecturerCourseListByStatus" resultType="hashmap" parameterType="hashmap" >
     select * from t_courses where lecturer_id = #{lecturer_id} and status = #{status}
     <if test='status =="1"' >
     	<if test="start_time != null" >
    		and start_time <![CDATA[ < ]]> #{start_time} 
    	</if>
    	order by start_time desc
     </if>
     <if test='status =="2"' >
     	 <if test="end_time != null" >
    		and end_time <![CDATA[ < ]]> #{end_time} 
    	</if>
    	<if test="position != null">
    		and ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) <![CDATA[ < ]]> #{position} order by ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) desc
    	</if>
    	<if test="position == null" >
    		order by end_time desc, position
    	</if>   	
     </if>
     <if test="pageCount != null" >
      limit #{pageCount}
     </if>
  </select>
  
  <select id="findLecturerCourseList" resultType="hashmap" parameterType="hashmap" >
    select * from t_courses where lecturer_id = #{lecturer_id}
    <if test="status != null" >
    	and status = #{status}
    </if>
    <if test="start_time != null" >
    	and start_time <![CDATA[ < ]]> #{start_time}
    </if>
    <if test="position != null">
        and ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) <![CDATA[ < ]]> #{position}
    </if>
    <if test="end_time != null" >
    	and end_time <![CDATA[ < ]]> #{end_time}
    </if>
    <if test="start_time != null and end_time == null and position == null" >
    	order by start_time desc
    </if>
    <if test="start_time == null and end_time == null and position == null" >
    	order by start_time desc
    </if>    
    <if test="position != null and start_time == null and end_time == null">
    	order by ((UNIX_TIMESTAMP(end_time)*1000-1487034415000) * 1000000 +position) desc limit #{pageCount}
    </if>
    <if test="start_time == null and end_time != null and position == null" >
    	order by end_time desc,position
    </if>
    <if test="pageCount != null" >
      limit #{pageCount}
    </if>
  </select>

  <select id="findPlatformCourseList" resultType="hashmap" parameterType="hashmap" >
    select * from t_courses where status = #{status}
    <if test="pageCount != null" >
      <if test='status == "2" '>
      	order by end_time desc,position limit #{pageCount}
      </if>
      <if test='status == "1" '>
      	order by start_time desc,position limit #{pageCount}
      </if>
    </if>
  </select>

  <insert id="insertCourseSale" parameterType="hashmap" >
    insert into t_courses_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record_id != null" >
        record_id,
      </if>
      <if test="shop_costomer_id != null" >
        shop_costomer_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="shop_id != null" >
        shop_id,
      </if>
      <if test="course_id != null" >
        course_id,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="sale_money != null" >
        sale_money,
      </if>
      <if test="distributer_distribute_income != null" >
        distributer_distribute_income,
      </if>
      <if test="tutor_distribute_income != null" >
        tutor_distribute_income,
      </if>
      <if test="platform_distribute_income != null" >
        platform_distribute_income,
      </if>
      <if test="lecturer_distribute_income != null" >
        lecturer_distribute_income,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record_id != null" >
        #{record_id},
      </if>
      <if test="shop_costomer_id != null" >
        #{shop_costomer_id},
      </if>
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="shop_id != null" >
        #{shop_id},
      </if>
      <if test="course_id != null" >
        #{course_id},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="sale_money != null" >
        #{sale_money},
      </if>
      <if test="distributer_distribute_income != null" >
        #{distributer_distribute_income},
      </if>
      <if test="tutor_distribute_income != null" >
        #{tutor_distribute_income},
      </if>
      <if test="platform_distribute_income != null" >
        #{platform_distribute_income},
      </if>
      <if test="lecturer_distribute_income != null" >
        #{lecturer_distribute_income},
      </if>
    </trim>
  </insert>

  <update id="updateCourse" parameterType="hashmap" >
    update t_courses
    <set >
      <if test="course_id != null" >
        course_id=#{course_id},
      </if>
      <if test="room_id != null" >
        room_id=#{room_id},
      </if>
      <if test="im_course_id != null" >
        im_course_id=#{im_course_id},
      </if>
      <if test="lecturer_id != null" >
        lecturer_id=#{lecturer_id},
      </if>
      <if test="course_title != null" >
        course_title=#{course_title},
      </if>
      <if test="course_url != null" >
        course_url=#{course_url},
      </if>
      <if test="course_remark != null" >
        course_remark=#{course_remark},
      </if>
      <if test="start_time != null" >
        start_time=#{start_time},
      </if>
      <if test="end_time != null" >
        end_time=#{end_time},
      </if>
      <if test="course_type != null" >
        course_type=#{course_type},
      </if>
      <if test="status != null" >
        status=#{status},
      </if>
      <if test="rq_code != null" >
        rq_code=#{rq_code},
      </if>
      <if test="course_price != null" >
        course_price=#{course_price},
      </if>
      <if test="course_password != null" >
        course_password=#{course_password},
      </if>
      <if test="student_num != null" >
        student_num=#{student_num},
      </if>
      <if test="course_amount != null" >
        course_amount=#{course_amount},
      </if>
      <if test="extra_num != null" >
        extra_num=#{extra_num},
      </if>
      <if test="extra_amount != null" >
        extra_amount=#{extra_amount},
      </if>
      <if test="create_time != null" >
        create_time=#{create_time},
      </if>
      <if test="create_date != null" >
        create_date=#{create_date},
      </if>
      <if test="update_time != null" >
        update_time=#{update_time},
      </if>
      <if test="real_start_time != null" >
        real_start_time=#{real_start_time},
      </if>
      <if test="real_student_num != null" >
        real_student_num=#{real_student_num},
      </if>
      <if test="click_num != null" >
        click_num=#{click_num},
      </if>
    </set>
    where course_id = #{course_id}
    <if test="last_update_time != null" >
    	and update_time=#{last_update_time}
    </if>
  </update>

  <update id="updateAfterStudentBuyCourse" parameterType="hashmap" >
    update t_courses
    set
    student_num = #{student_num,jdbcType=BIGINT} + student_num,
    course_amount = #{course_amount,jdbcType=BIGINT} + course_amount
    where course_id = #{course_id,jdbcType=VARCHAR} 
    <if test="last_update_time != null" >
    	and update_time=#{last_update_time}
    </if>
  </update>

  <update id="updateAfterStudentRewardCourse" parameterType="hashmap" >
    update t_courses
    set
    extra_num = #{extra_num,jdbcType=BIGINT} + extra_num,
    extra_amount = #{extra_amount,jdbcType=BIGINT} + extra_amount
    where course_id = #{course_id,jdbcType=VARCHAR}
    <if test="last_update_time != null" >
    	and update_time=#{last_update_time}
    </if>
  </update>
  
  <update id="increaseStudent" parameterType="string" >
    update t_courses
    set
    student_num = student_num + 1
    where course_id = #{course_id}
  </update> -->
  
</mapper>