<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.dbcommon.mybatis.persistence.RegisterInfoInfoMapper" > 
  <insert id="insertRegisterInfoInfo" parameterType="hashmap" >
    insert into t_register_info (info_id, info_num, record_date,
    create_time, country, province,
    city, district, plateform,
    device_model, device_oem, screen_size,
    os_version, download_channel, version,
    net_status, network_operators, subscribe, gender)
    values (#{info_id,jdbcType=VARCHAR}, #{info_num,jdbcType=VARCHAR}, #{record_date,jdbcType=TIMESTAMP},
    #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
    #{district,jdbcType=VARCHAR}, #{plateform,jdbcType=TIMESTAMP}, #{device_model,jdbcType=TIMESTAMP},
    #{device_oem,jdbcType=CHAR}, #{screen_size,jdbcType=CHAR}, #{os_version,jdbcType=VARCHAR},
    #{download_channel,jdbcType=BIGINT}, #{version,jdbcType=VARCHAR}, #{net_status,jdbcType=VARCHAR},
    #{network_operators,jdbcType=VARCHAR},#{subscribe,jdbcType=VARCHAR},#{gender,jdbcType=VARCHAR})
  </insert>
</mapper>