<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.ShopMapper" >
	
	<!-- 查询店铺信息 -->
	<select id="selectShopList" resultType="hashmap" parameterType="hashmap">
		SELECT * FROM t_shop shop
		WHERE shop.status = '1'
	</select>
	
	<!-- 更新店铺信息 -->
	<update id="updateShopInfo" parameterType="hashmap">
		UPDATE t_shop 
		<set>
			<if test="shop_name != null">
				shop_name = #{shop_name},
			</if>
			<if test="shop_remark != null">
				shop_remark = #{shop_remark},
			</if>
			<if test="avatar_address != null">
				avatar_address = #{avatar_address},
			</if>
		</set>
		WHERE shop_id = #{shop_id}
	</update>
	
	<!-- 查询系统配置表详情 -->
	<select id="selectSystemConfig" resultType="hashmap" parameterType="hashmap">
		SELECT * FROM t_system_config WHERE config_key = #{config_key}
	</select>
	
	<!-- 分页获取店铺的客户统计，并关联查询客户信息 -->
	<select id="selectCustomerStatistics" resultType="hashmap" parameterType="hashmap">
	   SELECT customer.*, user.nick_name
	   FROM t_shop_customer customer
	   LEFT JOIN t_user user ON user.user_id = customer.user_id
	   <where>
	   	customer.shop_id = #{shop_id}
	   	<if test="position != null and position != 0">
	    	and customer.position <![CDATA[ < ]]> #{position}
	    </if>
	   </where>
	   order by customer.position desc
	   <if test="page_count != null">
	   	limit #{page_count}
	   </if>
	</select>

  <select id="findByShopId" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_shop where shop_id = #{shopId}
  </select>
  

   <insert id="insertShop" parameterType="hashmap" >
    insert into t_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        shop_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="shop_seq != null" >
        shop_seq,
      </if>
      <if test="shop_name != null" >
        shop_name,
      </if>
      <if test="avatar_address != null" >
        avatar_address,
      </if>
      <if test="shop_remark != null" >
        shop_remark,
      </if>
      <if test="shopkeeper_card_address != null" >
        shopkeeper_card_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        #{shop_id},
      </if>
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="shop_seq != null" >
        #{shop_seq},
      </if>
      <if test="shop_name != null" >
        #{shop_name},
      </if>
      <if test="avatar_address != null" >
        #{avatar_address},
      </if>
      <if test="shop_remark != null" >
        #{shop_remark},
      </if>
      <if test="shopkeeper_card_address != null" >
        #{shopkeeper_card_address},
      </if>
    </trim>
  </insert>
</mapper>