<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.UserMapper" >

  <select id="findByUserId" resultType="hashmap" parameterType="java.lang.String" >
    SELECT
        u.*, v.sign
    FROM
        t_user u
    LEFT JOIN t_user_vip v ON u.user_id = v.user_id
    where u.user_id = #{user_id}
  </select>
  
  <update id="updateLiveRoomNumForUser" parameterType="hashmap" >
    update t_user
    set
    <!--关注操作类型 0关注 1不关注 -->
    <if test="follow_type == 0" >
      live_room_num = live_room_num + 1
    </if>
    <if test="follow_type == 1" >
      live_room_num = live_room_num - 1
    </if>
    where user_id = #{user_id}
  </update>
  
  <insert id="insertUser" parameterType="hashmap" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="user_name != null" >
        user_name,
      </if>
      <if test="nick_name != null" >
        nick_name,
      </if>
      <if test="avatar_address != null" >
        avatar_address,
      </if>
      <if test="phone_number != null" >
        phone_number,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="plateform != null" >
        plateform,
      </if>
      <if test="last_login_time != null" >
        last_login_time,
      </if>
      <if test="last_login_ip != null" >
        last_login_ip,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="user_name != null" >
        #{user_name},
      </if>
      <if test="nick_name != null" >
        #{nick_name},
      </if>
      <if test="avatar_address != null" >
        #{avatar_address},
      </if>
      <if test="phone_number != null" >
        #{phone_number},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="country != null" >
        #{country},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="district != null" >
        #{district},
      </if>
      <if test="area != null" >
        #{area},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="plateform != null" >
        #{plateform},
      </if>
      <if test="last_login_time != null" >
        #{last_login_time},
      </if>
      <if test="last_login_ip != null" >
        #{last_login_ip},
      </if>            
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
    </trim>
  </insert>

  <update id="updateUser" parameterType="hashmap">
    update t_user
    <set >
      <if test="user_name != null" >
        user_name = #{user_name},
      </if>
      <if test="nick_name != null" >
        nick_name = #{nick_name},
      </if>
      <if test="avatar_address != null" >
        avatar_address = #{avatar_address},
      </if>
      <if test="phone_number != null" >
        phone_number = #{phone_number},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>      
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="district != null" >
        district = #{district},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="courseNum != null" >
        course_num = #{course_num},
      </if>
      <if test="liveRoomNum != null" >
        live_room_num = #{live_room_num},
      </if>
      <if test="status != null" >
        status=#{status},
      </if>
      <if test="plateform != null" >
        plateform = #{plateform},
      </if>
      <if test="createTime != null" >
        create_time = #{create_time},
      </if> 
      <if test="update_time != null" >     
        update_time = #{update_time},
      </if>      
    </set>
    where user_id = #{user_id}
  </update>
  
  <update id="updateDistributer" parameterType="hashmap">
    update t_distributer
    <set>
      <if test="rq_card_address != null" >
        rq_card_address = #{rq_card_address},
      </if>
    </set>
    where user_id = #{user_id}
  </update>

  <select id="findByPhone" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_user where phone_number = #{phone_number}
  </select>

  <select id="selectVipUserById" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_user_vip where user_id = #{user_id}
  </select>
  <insert id="insertVipUser" parameterType="hashmap" >
  insert into t_user_vip set user_id = #{user_id},sign = #{sign} ,create_time = #{create_time},close_time = #{close_time}
  </insert>

  <insert id="insertVisit" parameterType="hashmap" >
  insert into t_user_visit set user_id = #{user_id},shop_id = #{shop_id} ,check_user_id = #{check_user_id} ,create_time = #{create_time},create_date = #{create_time}
  </insert>

  <update id="updateVipUser" parameterType="hashmap">
    update t_user_vip
    <set>
      <if test="create_time != null" >
        create_time = #{create_time},
      </if>
      <if test="close_time != null" >
        close_time = #{close_time},
      </if>
    </set>
    where user_id = #{user_id}
  </update>

  <select id="selectVipUserBySign" resultType="hashmap" parameterType="java.lang.String" >
    select v.*,u.nick_name from t_user_vip v LEFT JOIN t_user u ON v.user_id = u.user_id where sign = #{sign}
  </select>
  <select id="selectUserVisitCount" resultType="java.lang.Integer" parameterType="java.lang.Object" >
    SELECT
        count(*)
    FROM
        `t_user_visit` t
    WHERE
        t.user_id = #{user_id}
    AND shop_id = #{shop_id}
    AND create_date = CURDATE()
  </select>

  <!-- 根据手机号码查询后台登录帐号 -->
  <select id="selectAdminUserByMobile" parameterType="hashmap" resultType="hashmap">
    select * from t_admin_user
    where mobile = #{mobile} and status = 1
    limit 1
  </select>
  <!-- 统计 -->
  <select id="selectCountUser" resultType="java.lang.Integer">
    SELECT
        count(*)
    FROM
        (
            SELECT
                count(*)
            FROM
                `t_user_visit` t
            GROUP BY
                t.user_id
        ) t
  </select>
  <!-- 用户列表 -->
  <select id="selectUserList" resultType="hashmap" parameterType="hashmap" >
          SELECT
    u.user_id,
    u.avatar_address,
    u.nick_name,
    v.close_time,
    (v.close_time &lt; SYSDATE()) AS is_over,
    vs.create_date
    FROM
    t_user u
    LEFT JOIN t_user_vip v ON u.user_id = v.user_id
    JOIN t_user_visit vs ON vs.user_id = u.user_id
    GROUP BY user_id asc
  </select>
  <!-- 收入信息 -->
  <select id="selectIncomeList" parameterType="hashmap" resultType="hashmap">
    SELECT
    t.user_id,u.avatar_address,u.nick_name,t.create_time,v.close_time ,(v.close_time &lt; SYSDATE())as is_over
    FROM
    `t_user_visit` t
    LEFT JOIN t_user u ON u.user_id = t.user_id
    LEFT JOIN t_user_vip v ON t.user_id = v.user_id
    where 1=1
    <if test="keyword != null" >
      AND u.nick_name like '%${keyword}%'
    </if>
    <if test="start_time != null" >
      AND create_time &gt; #{start_time}
    </if>
    <if test="end_time != null" >
      AND create_time &lt; #{end_time}
    </if>
    ORDER BY is_over asc,t.create_time desc
  </select>
  <!-- 更新后台账户所有字段 -->
  <update id="updateAdminUserByAllMap" parameterType="hashmap">
    update t_admin_user set last_login_time = #{last_login_time}, last_login_ip = #{last_login_ip},
    login_num = login_num + #{login_num}, token = #{token}
    where user_id = #{user_id}
  </update>
</mapper>