<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.dbcommon.mybatis.persistence.ExtensionMapper" >

	<!-- 分页获取官方推广列表 -->
	<select id="selectExtension" resultType="hashmap">
		SELECT * 
		FROM t_extension
			where `status` = '1'
	</select>
	
	<!-- 获得最新的官方推广列表 -->
	<select id="selectLatestExtensionList" parameterType="hashmap" resultType="hashmap">
		SELECT * 
		FROM t_extension
		<where>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="position != null and position != 0">
		     	and position <![CDATA[ > ]]> #{position}
		     </if>
		</where>
		ORDER BY position DESC
		<if test="page_count != null">
			LIMIT #{page_count}
		</if>
	</select>
</mapper>