<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.dbcommon.mybatis.persistence.PaymentBillMapper" >
  <insert id="insertPaymentBill" parameterType="hashmap">
    insert into t_payment_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trade_id != null" >
        trade_id,
      </if>
      <if test="payment_id != null" >
        payment_id,
      </if>
      <if test="payment_type != null" >
        payment_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="trade_no != null" >
        trade_no,
      </if>
      <if test="pre_pay_no != null" >
        pre_pay_no,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trade_id != null" >
        #{trade_id},
      </if>
      <if test="payment_id != null" >
        #{payment_id},
      </if>
      <if test="payment_type != null" >
        #{payment_type},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="payment != null" >
        #{payment},
      </if>
      <if test="trade_no != null" >
        #{trade_no},
      </if>
      <if test="pre_pay_no != null" >
        #{pre_pay_no},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="updateTime != null" >
        #{update_time},
      </if>
    </trim>
  </insert>

  <update id="updatePaymentBill" parameterType="hashmap" >
    update t_payment_bill
    <set >
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="payment != null" >
        payment = #{payment},
      </if>
      <if test="trade_no != null" >
        trade_no = #{trade_no},
      </if>
      <if test="pre_pay_no != null" >
        pre_pay_no = #{pre_pay_no},
      </if> 
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>                 
    </set>
    where trade_id = #{trade_id}
    <if test="status != null" >
        and status != #{status}
    </if>    
    <if test="last_update_time != null" >
       and update_time=#{last_update_time}
    </if>
  </update>

  <select id="findPaymentBillByTradeId" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_payment_bill where trade_id = #{tradeId,jdbcType=VARCHAR}
  </select>

</mapper>