<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="1 seconds">
    <contextName>logback</contextName>
    <property name="qingning.db.common.log.path" value="E:/logs/qingning.db.common.log" />
    <property name="qingning.common.server.log.path" value="E:/logs/qingning.common.server.log" />
    <property name="qingning.common.db.log.path" value="E:/logs/qingning.common.db.log" />
    <property name="qingning.lecture.server.log.path" value="E:/logs/qingning.lecture.server.log" />
    <property name="qingning.lecture.db.log.path" value="E:/logs/qingning.lecture.db.log" />
    <property name="qingning.user.server.log.path" value="E:/logs/qingning.user.server.log" />
    <property name="qingning.user.db.log.path" value="E:/logs/qingning.user.db.log" />
    <property name="qingning.mq.log.path" value="E:/logs/qingning.mq.log" />
    <property name="qingning.log.path" value="E:/logs/qingning.log" />
    <property name="sys.log.path" value="E:/logs/qingning.sys.log" />
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="sys.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sys.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sys.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.mq.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.mq.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.mq.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.user.db.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.user.db.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.user.db.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="qingning.user.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.user.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.user.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
        
    <appender name="qingning.lecture.db.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.lecture.db.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.lecture.db.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.lecture.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.lecture.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.lecture.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.common.db.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.common.db.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.common.db.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.common.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.common.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.common.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.db.common.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.db.common.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.db.common.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="qingning.db.common" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.db.common.log" />
    </logger>
    
    <logger name="qingning.common.server" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.common.server.log" />
    </logger>    
    <logger name="qingning.common.db" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.common.db.log" />
    </logger>
    
    <logger name="qingning.lecture.server" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.lecture.server.log" />
    </logger>
    <logger name="qingning.lecture.db" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.lecture.db.log" />
    </logger>
    
    <logger name="qingning.user.server" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.user.server.log" />
    </logger>
    <logger name="qingning.user.db" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.user.db.log" />
    </logger>
    
    <logger name="qingning.mq" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.mq.log" />
    </logger>
  
    <logger name="qingning" level="DEBUG" additivity="false">
    	<appender-ref ref="qingning.log" />
    </logger>
    
    <root level="debug">
        <appender-ref ref="console" />       
    </root>

</configuration>